--index-url https://download.pytorch.org/whl/cpu
anyascii==0.3.2
botocore>=1.34.98
cached_path>=1.6.2
eng_to_ipa==0.0.2
g2p_en==2.1.0
gradio
inflect==7.5.0
jamo==0.4.1
langid==1.1.6
librosa==0.11.0
loguru==0.7.3
num2words==0.5.14
pydub==0.25.1
tensorboard==2.19.0
torch==2.7.0
torchaudio==2.7.0
tqdm
transformers
unidecode==1.4.0
